*{
    box-sizing: border-box;
}

    body {
        background: linear-gradient(rgba(0, 0, 0, 0.315),rgba(5, 5, 5, 0.24)),
                    url(img/test-landing-id3.png);
        background-position-x: center;
        background-size: cover;
        font-family: Inter;
        margin: 0;
        padding: 0;
    }

/* FONTS AND TEXT STYLES */

    .landing-h2{
        margin: 0;
        margin-bottom: 12px;
        max-width: 250px;
        align-self: stretch;    
        color: #EF7D00;
        font-size: 20px;
        font-weight: 300;
    }

    .landing-h1{
        margin: 0;
        margin-bottom: 12px;
        align-self: stretch;
        color:#FFF;
        font-size: 40px;
        font-weight: 700;
    }

    .text-description {
        margin: 0;
        align-self: stretch;
        font-size: 20px;
        font-weight: 300;
    }

    .weight-light {
        font-weight: 200;
    }

    .orange-text {
        color: #EF7D00;
    }

    .white-text {
        color:#FFF;
    }

    .section-title {
        font-size: 45px;
        font-weight: 300;
    }

/* HEADER */

    .header-landing {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        flex-shrink: 0;
        padding: 20px;
    }

    /* Contenedor para limitar el fondo del header */
    .header-wrapper {
        background: url(img/test-landing-id3.png);
        background-position-x: center;
        background-size: cover;
        padding-bottom: 50px; 
    }

    .topbar {
        display: flex;
        width: 402px;
        padding: 12px;
        justify-content: space-between;
        align-items: center;
    }


    .header-landing-text-container{
        padding-top: 45vh;
        gap: 12px;
    }

  
    .btn-orange{
        display: flex;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 6px;
        background: #EF7D00;
        color: #FFF;
        font-size: 16px;
    }

 /* SEGUNDA PARTE : DISEÑA DESARROLLA*/

    .section-disena-desarrolla { 
        background-color: white;
        padding: 50px 20px; 
        min-height: 300px; 
    }

    .footer-navigation {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        padding: 20px;
    }
    
    .nav-button {
        width: 40px;
        height: 40px;
        border-radius: 50%; 
        border: none;
        background-color: rgb(14, 13, 13); 
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .nav-button img {
        width: 24px;
        height: 24px;
    }
    
    
/* TERCERA PARTE */

    .section-proyectos{
        background: #EEF0F5;
        padding: 50px 20px; /* Espaciado interno */
    text-align: center;
    }

    .image-container {
        margin-top: 25px;
    }